.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
.git
.gitignore
.vscode
*.db
*.sqlite3
*.log
node_modules
dist
build
.env
.env.*
!.env.production.template
jwt_private.pem
jwt_public.pem
